/* 영역 이름 사용 */
.grid-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "sidebar-a  main  sidebar-b"
};

.sidebar-a { grid-area: sidebar-a; }
.sidebar-b { grid-area: sidebar-b; }
.main { grid-area: main; }
